# Python & Environnement
venv/
env/
__pycache__/
.env
.flaskenv
*.pyc

# Fichiers Binaires et Bibliothèques (Tes fichiers lourds)
*.pyd
*.dll
*.so
*.exe

# Fichiers de données (À gérer avec DVC)
*.pkl
*.pickle
images.pkl
data.pickle



# Dossiers spécifiques
examples/
static/asterix/
tmp/
.vscode/
.idea/
human_study_data/
data/
/data
temporal-ring-478309-g7-e65a0025d09a.json
