venv/
env/
__pycache__/
.env
.flaskenv
*.pyc

*.pyd
*.dll
*.so
*.exe

*.pkl
*.pickle
images.pkl
data.pickle

*.pkl
*.pickle
images.pkl
data.pickle


examples/
static/asterix/
tmp/
.vscode/
.idea/
human_study_data/
data/
/data
temporal-ring-478309-g7-e65a0025d09a.json
